<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.childapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.childapp.FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.childapp.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name="com.example.childapp.ChosseQuestionActivity"
            android:label="@string/title_activity_chosse_question" >
        </activity>
        <activity
            android:name="com.example.childapp.questions.LettersActivity"
            android:label="@string/title_activity_letters" >
        </activity>
        <activity
            android:name="com.example.childapp.questions.ColorsActivity"
            android:label="@string/title_activity_colors" >
        </activity>
        <activity
            android:name="com.example.childapp.questions.AnimalsActivity"
            android:label="@string/title_activity_animals" >
        </activity>
        <activity
            android:name="com.example.childapp.questions.NumbersActivity"
            android:label="@string/title_activity_numbers" >
        </activity>
        <activity
            android:name="com.example.childapp.questions.QuestionsActivity"
            android:label="@string/title_activity_questions" >
        </activity>
        <activity
            android:name="com.example.childapp.CatchActivity"
            android:label="@string/title_activity_catch" >
        </activity>
        <activity
            android:name="com.example.childapp.CatchCatchActivity"
            android:label="@string/title_activity_catch_catch" >
        </activity>
    </application>

</manifest>
